<link href="/detail.css" rel="stylesheet" />

<div class="detail-bg">
  <h4><%= result.title %></h4>
  <p><%= result.content %></p>
  <div>
    <img src="<%= result.img %>" />
  </div>
</div>
