<link href="/write.css" rel="stylesheet" />

<form class="form-box" action="/edit" method="POST">
  <h4>수정하기</h4>
  <input name="id" value="<%= result._id %>" style="display: none" />
  <input name="title" value="<%= result.title %>" />
  <input name="content" value="<%= result.content %>" />
  <button type="submit">전송</button>
</form>
